.container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

.topBar {
  background-color: white;
  border-bottom: 4px solid #244efe;
  padding: 10px 20px;
  position:fixed;
  width: 100%;
  z-index: 1;
}

.contentContainer {
  overflow: auto;
  width: 75%;
}

.students h2 {
  font-weight: 300;
}

.singleStudent {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.singleStudentTests {
  display: flex;
  height: 50px;
}

.singleStudentTests li {
  display: inline;
  width: 60px;
  border-left: 10px solid #f1f1f1;
  color: #00ba12;
  padding-top: 16px;
}

.studentInfo {
  border-right: 1px solid #ccc;
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 42px;
}

.studentAverage {
  color: #00ba12;
  width: 20px;
  padding-top: 6px;
}

.studentName {
  width: 110px;
}

.studentFirstName {
  font-size: 14px;
  font-weight: bold;
  color: #3b87fd;
}
.studentLastName{
  font-size: 12px;
}

.testScores {
  -webkit-flex-wrap: nowrap; /* Safari */
  flex-wrap: nowrap;
  flex: space-between;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-left: 4px solid #f1f1f1;
}

.singleStudentContent {
  min-width: 100px;
  background-color: #fff;
  border-radius: 25px;
  display: inline-flex;
}

.singleStudentContent h3 {
  margin: 0;
  font-size: 12px;
  color: #385997;
}

.examRow {
  display: flex;
  margin-left: 192px;
  border-left: 1px solid #ccc;
}

.examNames {
  margin-bottom: 80px;
}
.examNames li {
  transform: rotate(290deg);
  transform-origin: right bottom 0;
  display: flex;
  font-size: 8px;
  width: 60px;
  border-right: 10px solid #f1f1f1;
  color: #3b87fd;
}